<div id="loaderPlaceHolder">
    <div id="loader" class="loader hidden" role="status" aria-hidden="true">
        <div style="padding-bottom: 20px;">
            <img height="59px" width="59px" alt="Please wait..." src="~/slides/static/img/loader.gif" />
        </div>
    </div>
</div>