


<div class="filedrop filedrop-mvc fileplacement" id="filedrop2">
	<label for="UploadFileInput" style="margin-top: 50px; text-decoration: underline">Drop or Upload your style master file(any presentation file)</label>
	<input type="file" class="uploadfileinput" id="UploadFileInput2" name="UploadFileInput2"
		   accept=".ppt,.pptx,.odp,.PPT,.PPTX,.ODP"
		   />
</div>
